---
import Layout from '../layouts/Layout.astro';
const pageTitle = "Will Osbourne";
---
<Layout pageTitle={pageTitle}>
    <h1>Will Osbourne</h1>
    <span class="badge">Consultant</span>
    <span class="badge">Software Engineer</span>
    <span class="badge">Team Lead</span>
    <h2>About</h2>
    <p>
        Will Osbourne is a Consultant and Software Engineer at Seven Hills Technology, based out of Cincinnati, OH.
    </p>
    <p>
        He graduated from the University of Cincinnati in 2021 and joined on to Seven Hills Technology full time after
        working there throughout his time at UC. Since the early days of being a co-op, he's always been
        focused on working with his clients and solving their problems.
    </p>
    <p>
        To stay sharp with new technology, frameworks, and methodologies, Will likes to follow innovative, thoughtful
        creators, like Wes Bos and Scott Tolinski of Syntax, Dann Berg, DHH, and tante. Not frequently on social media,
        his curated RSS feeds and podcast queues are his lifeline to the greater trends of technology.
    </p>
    <div class="center">
        <a href="/posts/">
            <button class="btn">My writing</button>
        </a>
    </div>
    <h2>Skills</h2>
    <div class="skills center">
        <img class="skills__img" width="46" height="46" alt="C#" src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/csharp/csharp-original.svg"/>
        <img class="skills__img" width="46" height="46" alt="DotNetCore" src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/dotnetcore/dotnetcore-original.svg"/>
        <img class="skills__img" width="46" height="46" alt="React" src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/react/react-original.svg"/>
        <img class="skills__img" height="46" alt="KendoUI" src="https://d585tldpucybw.cloudfront.net/sfimages/default-source/pricing/characters_kendoka_homepage.png?sfvrsn=e3138_5/Characters_kendoka_homepage.png" title="Kendo UI">
        <img class="skills__img" height="46" alt="DevExtreme" title="DevExtreme" src="/dev-extreme.svg">
        <img class="skills__img" width="46" height="46" alt="TypeScript" src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/typescript/typescript-original.svg"/>
        <img class="skills__img" width="46" height="46" alt="Azure" src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/azure/azure-original.svg"/>
        <img class="skills__img" width="46" height="46" alt="HTML" src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/html5/html5-original.svg"/>
        <img class="skills__img" width="46" height="46" alt="Git" src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/git/git-original.svg"/>
    </div>
    <h2>Interests</h2>
    <p>
        In his free time, Will is probably spending time with his wife & cats, reading fantasy novels,
        planning for his D&D campaign, or any number of other mini-hobbies that grab him at the time
        (woodworking, video games, writing, etc).
    </p>
    <p>
        If it's early in the morning, you might find him running in all around the east side of Cincy,
        and if it's late, he may be in the backyard enjoying a local craft beer by the fire.
    </p>
    <p>
        Exploring technical concepts that he can't dive deep into through work often centers around his
        home server. Working with new technology (or specifically without it, embracing the foundational web platform)
        is always a pleasant outlet, often self hosting his experiments to stay comfortable with what the cloud can
        often hide.
    </p>
</Layout>
