---
import type { ClassifiedPost } from "../lib/ghost";
import { formatDate } from "../lib/ghost";

interface Props {
  post: ClassifiedPost;
}

const { post } = Astro.props;
---

<li class="feed-item feed-item--thought" id={`thought-${post.id}`}>
  <div class="thought__content" set:html={post.html} />
  <time class="feed-item__date" datetime={post.published_at}>
    {formatDate(post.published_at)}
  </time>
</li>
